# Кодирование свечей по Лиховидову (не доделан)

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (16,12)  # Размер области построения
# %matplotlib qt  # Построенный график в отдельном окне

In [2]:
# Загружаем файл с разделителем ';' в DF, индексом делаем поле 'date_time'
df = pd.read_csv('c:/data_prepare_quote_csv/SPFB.RTS_5min.csv', delimiter=';')
df = df.set_index(pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S'))  # Меняем индекс и делаем его типом datetime
df = df.drop('date_time', 1)  # Удаляем колонку с датой и временем, т.к. дата-время у нас теперь в индексе
df

,date,time,open,high,low,close,vol
date_time,,,,,,,
2020-01-03 10:00:00,20200103,100000,154670.0,156720.0,154670.0,156610.0,13396
2020-01-03 10:05:00,20200103,100500,156600.0,156680.0,156500.0,156610.0,4957
2020-01-03 10:10:00,20200103,101000,156600.0,156680.0,156290.0,156380.0,4398
2020-01-03 10:15:00,20200103,101500,156380.0,156390.0,156100.0,156160.0,4382
2020-01-03 10:20:00,20200103,102000,156140.0,156280.0,156090.0,156220.0,3164
...,...,...,...,...,...,...,...
2020-11-10 23:25:00,20201110,232500,123270.0,123330.0,123190.0,123290.0,844
2020-11-10 23:30:00,20201110,233000,123300.0,123300.0,123190.0,123210.0,728
2020-11-10 23:35:00,20201110,233500,123200.0,123200.0,123100.0,123110.0,1418
2020-11-10 23:40:00,20201110,234000,123120.0,123210.0,123110.0,123190.0,879
2020-11-10 23:45:00,20201110,234500,123190.0,123290.0,123130.0,123200.0,2370

In [3]:
# Для проверки выберем строку из DF
df_rows = df.loc['2020-09-01']  # Получение DF(строк) по заданному индексу в виде даты
# Получение строк по диапазону, времени время должно быть в индексе в формате datetime
df_row = df_rows.between_time('10:00:00', '10:00:00')
df_row

,date,time,open,high,low,close,vol
date_time,,,,,,,
2020-09-01 10:00:00,20200901,100000,126200.0,127210.0,126200.0,127030.0,24238

In [4]:
df

,date,time,open,high,low,close,vol
date_time,,,,,,,
2020-01-03 10:00:00,20200103,100000,154670.0,156720.0,154670.0,156610.0,13396
2020-01-03 10:05:00,20200103,100500,156600.0,156680.0,156500.0,156610.0,4957
2020-01-03 10:10:00,20200103,101000,156600.0,156680.0,156290.0,156380.0,4398
2020-01-03 10:15:00,20200103,101500,156380.0,156390.0,156100.0,156160.0,4382
2020-01-03 10:20:00,20200103,102000,156140.0,156280.0,156090.0,156220.0,3164
...,...,...,...,...,...,...,...
2020-11-10 23:25:00,20201110,232500,123270.0,123330.0,123190.0,123290.0,844
2020-11-10 23:30:00,20201110,233000,123300.0,123300.0,123190.0,123210.0,728
2020-11-10 23:35:00,20201110,233500,123200.0,123200.0,123100.0,123110.0,1418
2020-11-10 23:40:00,20201110,234000,123120.0,123210.0,123110.0,123190.0,879
2020-11-10 23:45:00,20201110,234500,123190.0,123290.0,123130.0,123200.0,2370

In [5]:
day = 300
delta_day = pd.to_timedelta(f'{day} days')
# print(delta_day)
start_previous_df = df_row.index.date - delta_day
# start_previous_df = (df_row.index.date - delta_day)[0].strftime("%Y-%m-%d")
print(start_previous_df)
end_previous_df = df_row.index.date - pd.to_timedelta('1 days')
# end_previous_df = df_row.index.date[0].strftime("%Y-%m-%d")
print(end_previous_df)

# previous_df = df.loc[start_previous_df[0].strftime("%Y-%m-%d"): end_previous_df[0].strftime("%Y-%m-%d")]
previous_df = df.loc[start_previous_df[0].strftime("%Y-%m-%d"): end_previous_df[0].strftime("%Y-%m-%d")]
# print(previous_df)

previous_df

# previous_df = df.query("start_previous_df <= date_time.date < end_previous_df")
# # previous_df = df.query("'2020-03-10' <= date_time < '2020-09-11'")
# previous_df

[datetime.date(2019, 11, 6)]
[datetime.date(2020, 8, 31)]

,date,time,open,high,low,close,vol
date_time,,,,,,,
2020-01-03 10:00:00,20200103,100000,154670.0,156720.0,154670.0,156610.0,13396
2020-01-03 10:05:00,20200103,100500,156600.0,156680.0,156500.0,156610.0,4957
2020-01-03 10:10:00,20200103,101000,156600.0,156680.0,156290.0,156380.0,4398
2020-01-03 10:15:00,20200103,101500,156380.0,156390.0,156100.0,156160.0,4382
2020-01-03 10:20:00,20200103,102000,156140.0,156280.0,156090.0,156220.0,3164
...,...,...,...,...,...,...,...
2020-08-31 23:15:00,20200831,231500,126220.0,126230.0,126160.0,126180.0,616
2020-08-31 23:20:00,20200831,232000,126200.0,126300.0,126160.0,126270.0,597
2020-08-31 23:25:00,20200831,232500,126280.0,126310.0,126240.0,126260.0,356
2020-08-31 23:30:00,20200831,233000,126270.0,126280.0,126210.0,126230.0,293
2020-08-31 23:35:00,20200831,233500,126240.0,126240.0,126170.0,126180.0,726