# Кодирование свечей по Лиховидову

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (16,12)  # Размер области построения
# %matplotlib qt  # Построенный график в отдельном окне

In [2]:
# Загружаем файл с разделителем ';' в DF, индексом делаем поле 'date_time'
df = pd.read_csv('c:/data_prepare_quote_csv/SPFB.RTS_5min.csv', delimiter=';', index_col='date_time')
df

,date,time,open,high,low,close,vol
date_time,,,,,,,
2020-01-03 10:00:00,20200103.0,100000.0,154670.0,156720.0,154670.0,156610.0,13396.0
2020-01-03 10:05:00,20200103.0,100500.0,156600.0,156680.0,156500.0,156610.0,4957.0
2020-01-03 10:10:00,20200103.0,101000.0,156600.0,156680.0,156290.0,156380.0,4398.0
2020-01-03 10:15:00,20200103.0,101500.0,156380.0,156390.0,156100.0,156160.0,4382.0
2020-01-03 10:20:00,20200103.0,102000.0,156140.0,156280.0,156090.0,156220.0,3164.0
...,...,...,...,...,...,...,...
2020-11-10 23:25:00,20201110.0,232500.0,123270.0,123330.0,123190.0,123290.0,844.0
2020-11-10 23:30:00,20201110.0,233000.0,123300.0,123300.0,123190.0,123210.0,728.0
2020-11-10 23:35:00,20201110.0,233500.0,123200.0,123200.0,123100.0,123110.0,1418.0
2020-11-10 23:40:00,20201110.0,234000.0,123120.0,123210.0,123110.0,123190.0,879.0
2020-11-10 23:45:00,20201110.0,234500.0,123190.0,123290.0,123130.0,123200.0,2370.0

In [3]:
res_date = df.query("'2020-03-10' <= date_time < '2020-09-11'")
res_date

,date,time,open,high,low,close,vol
date_time,,,,,,,
2020-03-10 10:00:00,20200310.0,100000.0,123220.0,123800.0,107260.0,107690.0,564.0
2020-03-10 10:05:00,20200310.0,100500.0,107730.0,107750.0,107260.0,107260.0,154.0
2020-03-10 10:10:00,20200310.0,101000.0,107260.0,124840.0,107260.0,108900.0,621.0
2020-03-10 10:15:00,20200310.0,101500.0,108500.0,124760.0,108500.0,110620.0,805.0
2020-03-10 10:20:00,20200310.0,102000.0,110800.0,125120.0,109420.0,109490.0,328.0
...,...,...,...,...,...,...,...
2020-09-10 23:25:00,20200910.0,232500.0,118780.0,118790.0,118750.0,118780.0,7.0
2020-09-10 23:30:00,20200910.0,233000.0,118800.0,118850.0,118760.0,118780.0,22.0
2020-09-10 23:35:00,20200910.0,233500.0,118770.0,118850.0,118750.0,118830.0,33.0
2020-09-10 23:40:00,20200910.0,234000.0,118750.0,118750.0,118700.0,118700.0,4.0
2020-09-10 23:45:00,20200910.0,234500.0,118800.0,118850.0,118700.0,118850.0,104.0

In [22]:
# res_time = df.query("'12:36:52' <= date_time < '15:10:32'")

# df = df.head(20)
# print(df['date_time'][0])

# df.between_time('10:30:00', '11:15:00')

df.index[0]

'2020-01-03 10:00:00'